@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* doesn't work. Why? */
/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
} */

/* General Styles */
* {
  font-family: "Exo 2", sans-serif;
  line-height: 1.5rem !important;
  letter-spacing: 0.24px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: gray;
  scrollbar-arrow-color: green;
}

html,
body {
  height: 100%;
  overflow: auto; /* Pastikan ini disetel ke auto atau hidden */
}

body {
  /* background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: rgb(152, 122, 92);
  /* min-width: 100vw; */
  /* min-height: 90vh; */
}

input:focus,
textarea:focus {
  scroll-margin-top: 100px; /* atau nilai yang sesuai dengan kebutuhan */
}
